footer{
	color: white;
	background: #333333;
	width: 100%;
	text-align: center;
	padding: 15px 0;
}
footer p{
	padding: 5px 0;
}
footer p span{
	padding: 0 5px;
}
footer p.health{
	padding-bottom: 10px;
}
footer p.footer{
	font-size: 14px;
	padding: 3px;
}