body {
	background: #ffe;
	background: url(../img/bg-1.jpg);
}

button {
	position: absolute;
	background: none;
	border: none;
	padding: 8px 15px;
	border-radius: 5px;
	box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset !important;
	color: white;
}

button:hover {
	cursor: pointer;
}

.bt1 {
	text-align: center;
	width: 100px;
	left: 50%;
	/*top: 50%;*/
	margin-left: -50px;
	margin-top: 20px;
}

.bt2 {
	left: 0;
	top: 0;
}

.bt3 {
	right: 0;
	top: 0;
}

.bt4 {
	right: 0;
	bottom: 0;
}

.bt5 {
	left: 0;
	bottom: 0;
}

@keyframes redPulse {
	from {
		background-color: #D23206;
		box-shadow: 0 0 9px #333;
	}
	50% {
		background-color: #E03101;
		box-shadow: 0 0 18px #91bd09;
	}
	to {
		background-color: #BD330D;
		box-shadow: 0 0 9px #333;
	}
}

@-webkit-keyframes redPulse {
	from {
		background-color: #D23206;
		-webkit-box-shadow: 0 0 9px #333;
	}
	50% {
		background-color: #E03101;
		-webkit-box-shadow: 0 0 18px #91bd09;
	}
	to {
		background-color: #BD330D;
		-webkit-box-shadow: 0 0 9px #333;
	}
}

button {
	animation-name: redPulse;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	-webkit-animation-name: redPulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

.likeBt {
	width: 50%;
	margin: 100px auto 20px;
}

.bigButton {
	padding: 20px 50px;
	font-size: 48px;
	border-radius: 5px;
	color: white;
	text-align: center;
	cursor: pointer;
	animation-name: redPulse;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	-webkit-animation-name: redPulse;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
}