<!DOCTYPE html><meta charset=UTF-8><title></title><script type=text/javascript src=../js/ejs.min.js></script><div id=output></div><script id=users type=text/template> <% if (names.length) { %> <ul> <% names.forEach(function(name){ %> <li> <%= name %> </li> <% }) %> </ul> <% } %> </script><script>var users = document.getElementById('users').innerHTML;
        var names = ['loki', 'tobi', 'jane'];
        var html = ejs.render(users, { names: names });
        document.getElementById('output').innerHTML = html;</script>